*.db
mindfulness-at-the-computer.spec
.idea/vcs.xml
.idea/workspace.xml
.idea/misc.xml
.idea/modules.xml  # uncertain, we may want to use this
.idea/mindfulness-at-the-computer.iml  # we may want to use this
.idea/dictionaries/*
venv
*exported.csv


##### Github standard ignores for Python #####

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/
/.vs
