[Desktop Entry]
Name=Mindfulness at the Computer
Exec=python3 /home/sunyata/PycharmProjects/mindfulness-at-the-computer/mindfulness-at-the-computer.py
Terminal=false
Type=Application
Icon=/home/sunyata/PycharmProjects/mindfulness-at-the-computer/icon.png
Name[en_US]=Mindfulness at the Computer
Path=/home/sunyata/PycharmProjects/mindfulness-at-the-computer
StartupNotify=false
Categories=Utility;Spirituality;
