th {
    background-color: #999999;
    color: white;
}
th, td {
    text-align: left;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}
tr:hover {
    background-color: #ffffff;
}
/*
body{
    max-width: 700px;
}
*/
.center-div{
    margin: auto;
    width: 50%;
}
.last-update{
    white-space: nowrap;
}
p{
    font-size: 15pt;
}
.fine-print{
    font-size: 12pt;
}
h1, h2{
    color: #595959;
}

#notice-for-help{
    float: right;
    border-style: solid;
    border-width: 4px;
    border-color: #FF0037;
    border-radius: 10px;
    padding: 16px;
    margin: 16px;
}

.navbar{
    background-color: #d0d0d0;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.navbar a{
    color: black;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    padding: 0px 10px;
    margin-bottom: 0px;
    margin-top: 0px
}
.navbar img{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #f2f2f2;
}

/*
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
*/

