.header{
    background-color: #65ac04;
}
.navbar{
    background-color: #c2ff2d;
    padding: 0px;
    margin: 0px;
}
.navbar a{
    color: black;
    text-align: center;
    font-size: 17pt;
    text-decoration: none;
    padding: 0px 10px;
    margin-bottom: 0px;
    margin-top: 0px
}
.title{
    background-color: #65ac04;
    color:white;
    width: 100%;
    font-size:38pt;
    text-decoration: none;
}
body{
    background-color: #727272;
}
.center-div{
    margin: auto;
    width: 700px;
    background-color: #f2f2f2;
}
img{
    max-width:500px;
    max-height:auto;
}
p{
    font-size: 15pt;
}
.fine-print{
    font-size: 12pt;
}
h1,h2,h3,h4{
    color: #595959;
}

#notice-for-help{
    float: right;
    border-style: solid;
    border-width: 4px;
    border-color: #FF0037;
    border-radius: 10px;
    padding: 16px;
    margin: 16px;
}



.dlbutton{
    background-color:green;
    color:white;
    text-align:center;
    text-decoration:none;
    font-size:28pt;
    cursor:pointer;
    padding:20px 40px;
    margin:10px 10px;
}

/*
*/